{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="border-bottom-2 py-32pt position-relative z-1">
    <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
        <div class="flex d-flex flex-column flex-sm-row align-items-center mb-24pt mb-md-0">
            <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                <h2 class="mb-0">Branches</h2>
                <ol class="breadcrumb p-0 m-0">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="branch.html">Branch</a></li>
                    <li class="breadcrumb-item active">Add Branch</li>
                </ol>
            </div>
        </div>

        <div class="row" role="tablist">
            <form method="POST" enctype="multipart/form-data" onsubmit="submitForm()">
                {% csrf_token %}
                <div class="col-auto border-left">
                    <button type="submit" class="btn btn-accent">Publish</button>
                </div>
        </div>
    </div>
</div>

<div class="container page__container page-section">
    <div class="row mb-32pt">
        <div class="col-lg-3">
            <div class="page-separator">
                <div class="page-separator__text">Branch Info</div>
            </div>
            <p class="card-subtitle text-70 mb-16pt mb-lg-0">
                Basic information related to the branch
            </p>
        </div>
        <div class="col-lg-9 d-flex align-items-center">
            <div class="flex" style="max-width: 100%">
                <div class="form-group">
                    <label class="form-label" for="id_name">Branch Name</label>
                    <input type="text" class="form-control" name="name" id="id_name" placeholder="Enter branch name here .." value="{% if form.name.value %}{{ form.name.value }}{% endif %}">
                    {% if form.name.errors %}
                        <div class="text-danger">{{ form.name.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="form-label" for="id_nick_name">Branch Nickname</label>
                    <input type="text" class="form-control" name="nick_name" id="id_nick_name" placeholder="Enter nickname to display on website.." value="{% if form.nick_name.value %}{{ form.nick_name.value }}{% endif %}">
                    {% if form.nick_name.errors %}
                        <div class="text-danger">{{ form.nick_name.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="form-label" for="id_destination">Destination</label>
                    <select id="id_destination" name="destination" class="form-control custom-select">
                        <option selected>Open this select menu</option>
                        {% for destination in destinations %}
                            <option value="{{ destination.id }}" {% if destination.id == form.destination.value %}selected{% endif %}>{{ destination }}</option>
                        {% endfor %}
                    </select>
                    {% if form.destination.errors %}
                        <div class="text-danger">{{ form.destination.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="form-label" for="id_initial">Branch Initial</label>
                    <input type="text" class="form-control" id="id_initial" name="initial" placeholder="Enter branch initial here .." value="{% if form.initial.value %}{{ form.initial.value }}{% endif %}">
                    {% if form.initial.errors %}
                        <div class="text-danger">{{ form.initial.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="form-label" for="id_address">Branch Address</label>
                    <input type="text" class="form-control" name="address" id="id_address" placeholder="Enter branch address here .." value="{% if form.address.value %}{{ form.address.value }}{% endif %}">
                    {% if form.address.errors %}
                        <div class="text-danger">{{ form.address.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="form-label" for="id_status">Status</label>
                    <select id="id_status" class="form-control custom-select" name="status">
                        <option selected>Open this select menu</option>
                        <option value="Active" {% if form.status.value == "Active" %}selected{% endif %}>Active</option>
                        <option value="Draft" {% if form.status.value == "Draft" %}selected{% endif %}>Draft</option>
                        <option value="Coming Soon" {% if form.status.value == "Coming Soon" %}selected{% endif %}>Coming Soon</option>
                    </select>
                    {% if form.status.errors %}
                        <div class="text-danger">{{ form.status.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group m-0">
                    <div class="custom-file">
                        <input type="file" id="id_logo" name="logo" class="custom-file-input">
                        <label for="id_logo" class="custom-file-label">Branch Logo</label>
                        {% if form.logo.errors %}
                            <div class="text-danger">{{ form.logo.errors }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-32pt">
        <div class="col-lg-3">
            <div class="page-separator">
                <div class="page-separator__text">Branch Description</div>
            </div>
            <p class="card-subtitle text-70 mb-16pt mb-lg-0">
                Describe and give a few information about the branch
            </p>
        </div>
        <div class="col-lg-9 d-flex align-items-center">
            <div class="flex" style="max-width: 100%">
                <label class="form-label">Write an overview about the branch</label>
                <div id="editor-container" style="height: 150px;">
                   
                </div>
                
                
                <input type="hidden" name="overview" id="id_overview" value="{% if form.overview.value %}{{ form.overview.value }}{% endif %}">
            </div>
        </div>
    </div>
    <div class="row mb-32pt">
        <div class="col-lg-3">
            <div class="page-separator">
                <div class="page-separator__text">Branch Contact</div>
            </div>
            <p class="card-subtitle text-70 mb-16pt mb-lg-0">
                Give all the contact info for the branches.
            </p>
        </div>
        <div class="col-lg-9 d-flex align-items-center">
            <div class="flex" style="max-width: 100%">
                <div class="form-group">
                    <label class="form-label" for="id_email">Email</label>
                    <input type="email" class="form-control" id="id_email" name="email" placeholder="Enter branch email here .." value="{% if form.email.value %}{{ form.email.value }}{% endif %}">
                    {% if form.email.errors %}
                        <div class="text-danger">{{ form.email.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="form-label" for="id_telephone">Telephone</label>
                    <input type="number" class="form-control" id="id_telephone" name="telephone" placeholder="Enter telephone number here .." value="{% if form.telephone.value %}{{ form.telephone.value }}{% endif %}">
                    {% if form.telephone.errors %}
                        <div class="text-danger">{{ form.telephone.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="form-label" for="id_mobile">Mobile</label>
                    <input type="number" class="form-control" id="id_mobile" name="mobile" placeholder="Enter mobile number here .." value="{% if form.mobile.value %}{{ form.mobile.value }}{% endif %}">
                    {% if form.mobile.errors %}
                        <div class="text-danger">{{ form.mobile.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="form-label" for="id_location_iframe">Location Iframe</label>
                    <input type="text" class="form-control" id="id_location_iframe" name="location_iframe" placeholder="Paste Location Iframe here.." value="{% if form.location_iframe.value %}{{ form.location_iframe.value }}{% endif %}">
                    {% if form.location_iframe.errors %}
                        <div class="text-danger">{{ form.location_iframe.errors }}</div>
                    {% endif %}
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
    // Initialize Quill editor
    var quill = new Quill('#editor-container', {
        theme: 'snow'
    });

    // Set initial content of the Quill editor
    var initialContent = `{% if form.overview.value %}{{ form.overview.value|safe }}{% endif %}`;
    quill.root.innerHTML = initialContent;
    // Function to copy Quill editor content to hidden input field
    function submitForm() {
        var quillContent = document.querySelector('input[name=overview]');
        quillContent.value = quill.root.innerHTML;
    }
</script>

{% endblock %}
