{% extends 'base.html' %}
{% load static %}


{% block body %}

                <div class="border-bottom-2 py-32pt position-relative z-1">
                    <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
                        <div class="flex d-flex flex-column flex-sm-row align-items-center mb-24pt mb-md-0">

                            <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                                <h2 class="mb-0">Departing Guests</h2>

                                <ol class="breadcrumb p-0 m-0">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>

                                    <li class="breadcrumb-item active">

                                        Departing Guests

                                    </li>

                                </ol>

                            </div>

                            <div class="dropdown">
                                <a href=""
                                   class="border rounded d-flex align-items-center p-16pt"
                                   data-toggle="dropdown"
                                   data-caret="false">

                                    <div class="avatar avatar-sm mr-8pt">

                                        <span class="avatar-title rounded bg-primary">BN</span>

                                    </div>

                                    <small class="ml-4pt flex">
                                        <span class="d-flex align-items-center">
                                            <span class="flex d-flex flex-column">
                                                <strong class="text-100">Omni Residency</strong>
                                                <span class="text-50">Banani</span>
                                            </span>
                                            <i class="material-icons icon-16pt text-50 ml-4pt">arrow_drop_down</i>
                                        </span>
                                    </small>
                                </a>
                                <div class="dropdown-menu w-100">
                                    <div class="dropdown-header"><strong>Select branch</strong></div>
                                    <a href=""
                                       class="dropdown-item active d-flex align-items-center">

                                        <div class="avatar avatar-sm mr-8pt">

                                            <span class="avatar-title rounded bg-primary">BN</span>

                                        </div>

                                        <small class="ml-4pt flex">
                                            <span class="d-flex flex-column">
                                                <strong class="text-black-100">Omni Residency</strong>
                                                <span class="text-black-50">Banani</span>
                                            </span>
                                        </small>
                                    </a>
                                    <a href=""
                                       class="dropdown-item d-flex align-items-center">

                                        <div class="avatar avatar-sm mr-8pt">

                                            <span class="avatar-title rounded bg-accent">BDH</span>

                                        </div>

                                        <small class="ml-4pt flex">
                                            <span class="d-flex flex-column">
                                                <strong class="text-black-100">Omni Residency</strong>
                                                <span class="text-black-50">Baridhara</span>
                                            </span>
                                        </small>
                                    </a>
                                </div>
                            </div>

                        </div>

                        <div class="row"
                             role="tablist">
                            <!-- <div class="col-auto d-flex flex-column">
                                <h6 class="m-0">&dollar;12.3k</h6>
                                <p class="text-50 mb-0 d-flex align-items-center">
                                    Earnings
                                    <i class="material-icons text-accent ml-4pt icon-16pt">keyboard_arrow_up</i>
                                </p>
                            </div>
                            <div class="col-auto border-left">
                                <h6 class="m-0">264</h6>
                                <p class="text-50 mb-0 d-flex align-items-center">
                                    Sales
                                    <i class="material-icons text-accent ml-4pt icon-16pt">keyboard_arrow_up</i>
                                </p>
                            </div> -->
                            <div class="col-auto border-left">
                                <a href="add-edit-booking.html"
                                   class="btn btn-accent">Add Guests</a>
                            </div>
                        </div>

                    </div>
                </div>

            <div class="container page__container page-section">
                

                <div class="card mb-lg-32pt">

                    <div class="table-responsive"
                         data-toggle="lists"
                         data-lists-sort-by="js-lists-values-from"
                         data-lists-sort-desc="true"
                         data-lists-values='["js-lists-values-name", "js-lists-values-status", "js-lists-values-policy", "js-lists-values-reason", "js-lists-values-days", "js-lists-values-available", "js-lists-values-from", "js-lists-values-to"]'>

                        <table class="table mb-0 thead-border-top-0 table-nowrap">
                            <thead>
                                <tr>

                                    <th style="width: 18px;"
                                        class="pr-0">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                   class="custom-control-input js-toggle-check-all"
                                                   data-target="#leaves"
                                                   id="customCheckAll">
                                            <label class="custom-control-label"
                                                   for="customCheckAll"><span class="text-hide">Toggle all</span></label>
                                        </div>
                                    </th>

                                    <th>
                                        <a href="javascript:void(0)"
                                           class="sort"
                                           data-sort="js-lists-values-name">Name</a>
                                    </th>
                                    <th style="width: 48px;">
                                        <a href="javascript:void(0)"
                                           class="sort"
                                           data-sort="js-lists-values-status">Status</a>
                                    </th>
                                    <th style="width: 48px;">
                                        <a href="javascript:void(0)"
                                           class="sort"
                                           data-sort="js-lists-values-policy">Room Type</a>
                                    </th>
                                    <th style="width: 150px;">
                                        <a href="javascript:void(0)"
                                           class="sort"
                                           data-sort="js-lists-values-reason">Guests</a>
                                    </th>
                                    <th style="width: 48px;">
                                        <a href="javascript:void(0)"
                                           class="sort"
                                           data-sort="js-lists-values-days">Days</a>
                                    </th>
                                    <th style="width: 48px;">
                                        <a href="javascript:void(0)"
                                           class="sort"
                                           data-sort="js-lists-values-available">Charge</a>
                                    </th>
                                    <th style="width: 48px;">
                                        <a href="javascript:void(0)"
                                           class="sort"
                                           data-sort="js-lists-values-from">Check-In</a>
                                    </th>
                                    <th style="width: 48px;">
                                        <a href="javascript:void(0)"
                                           class="sort"
                                           data-sort="js-lists-values-to">Check-Out</a>
                                    </th>
                                    <th style="width: 24px;"></th>
                                </tr>
                            </thead>
                            <tbody class="list"
                                   id="leaves">

                                <tr>

                                    <td class="pr-0">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                   class="custom-control-input js-check-selected-row"
                                                   id="customCheck1_1">
                                            <label class="custom-control-label"
                                                   for="customCheck1_1"><span class="text-hide">Check</span></label>
                                        </div>
                                    </td>

                                    <td>

                                        <div class="media flex-nowrap align-items-center"
                                             style="white-space: nowrap;">
                                            <div class="avatar avatar-32pt mr-8pt">

                                                <span class="avatar-title rounded-circle">BN</span>

                                            </div>
                                            <div class="media-body">

                                                <div class="d-flex align-items-center">
                                                    <div class="flex d-flex flex-column">
                                                        <p class="mb-0"><strong class="js-lists-values-name">Billy Nunez</strong></p>
                                                        <small class="js-lists-values-email text-50">annabell.kris@yahoo.com</small>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="d-flex flex-column">
                                            <small class="js-lists-values-status text-50 mb-4pt">Pending</small>
                                            <span class="indicator-line rounded bg-warning"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <small class="js-lists-values-policy text-50">Deluxe Double</small>
                                    </td>
                                    <td>
                                        <small class="js-lists-values-reason text-50">2 Adults, 1 Child</small>
                                    </td>
                                    <td>
                                        <small class="js-lists-values-days text-50">15 days</small>
                                    </td>
                                    <td>
                                        <small class="js-lists-values-available text-50">$ 143.22</small>
                                    </td>
                                    <td>
                                        <small class="js-lists-values-from text-50">19/02/2019</small>
                                    </td>
                                    <td>
                                        <small class="js-lists-values-to text-50">19/02/2019</small>
                                    </td>
                                    <td class="text-right">
                                        <a href=""
                                           class="text-50"><i class="material-icons">more_vert</i></a>
                                    </td>
                                </tr>

                                <tr>

                                    <td class="pr-0">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                   class="custom-control-input js-check-selected-row"
                                                   id="customCheck1_2">
                                            <label class="custom-control-label"
                                                   for="customCheck1_2"><span class="text-hide">Check</span></label>
                                        </div>
                                    </td>

                                    <td>

                                        <div class="media flex-nowrap align-items-center"
                                             style="white-space: nowrap;">
                                            <div class="avatar avatar-32pt mr-8pt">

                                                <span class="avatar-title rounded-circle">TP</span>

                                            </div>
                                            <div class="media-body">

                                                <div class="d-flex align-items-center">
                                                    <div class="flex d-flex flex-column">
                                                        <p class="mb-0"><strong class="js-lists-values-name">Tony Parks</strong></p>
                                                        <small class="js-lists-values-email text-50">vida_glover@gmail.com</small>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="d-flex flex-column">
                                            <small class="js-lists-values-status text-50 mb-4pt">Confirm</small>
                                            <span class="indicator-line rounded bg-primary"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <small class="js-lists-values-policy text-50">Deluxe Double</small>
                                    </td>
                                    <td>
                                        <small class="js-lists-values-reason text-50">&mdash;</small>
                                    </td>
                                    <td>
                                        <small class="js-lists-values-days text-50">7 days</small>
                                    </td>
                                    <td>
                                        <small class="js-lists-values-available text-50">$ 123.22</small>
                                    </td>
                                    <td>
                                        <small class="js-lists-values-from text-50">18/02/2019</small>
                                    </td>
                                    <td>
                                        <small class="js-lists-values-to text-50">18/02/2019</small>
                                    </td>
                                    <td class="text-right">
                                        <a href=""
                                           class="text-50"><i class="material-icons">more_vert</i></a>
                                    </td>
                                </tr>

                                <tr>

                                    <td class="pr-0">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                   class="custom-control-input js-check-selected-row"
                                                   id="customCheck1_3">
                                            <label class="custom-control-label"
                                                   for="customCheck1_3"><span class="text-hide">Check</span></label>
                                        </div>
                                    </td>

                                    <td>

                                        <div class="media flex-nowrap align-items-center"
                                             style="white-space: nowrap;">
                                            <div class="avatar avatar-32pt mr-8pt">

                                                <img src="assets/images/people/110/guy-1.jpg"
                                                     alt="Avatar"
                                                     class="avatar-img rounded-circle">

                                            </div>
                                            <div class="media-body">

                                                <div class="d-flex align-items-center">
                                                    <div class="flex d-flex flex-column">
                                                        <p class="mb-0"><strong class="js-lists-values-name">Gilbert Barrett</strong></p>
                                                        <small class="js-lists-values-email text-50">paolo.zieme@gmail.com</small>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="d-flex flex-column">
                                            <small class="js-lists-values-status text-50 mb-4pt">Confirm</small>
                                            <span class="indicator-line rounded bg-primary"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <small class="js-lists-values-policy text-50">Deluxe Double</small>
                                    </td>
                                    <td>
                                        <small class="js-lists-values-reason text-50">&mdash;</small>
                                    </td>
                                    <td>
                                        <small class="js-lists-values-days text-50">7 days</small>
                                    </td>
                                    <td>
                                        <small class="js-lists-values-available text-50">$ 1000.22</small>
                                    </td>
                                    <td>
                                        <small class="js-lists-values-from text-50">17/02/2019</small>
                                    </td>
                                    <td>
                                        <small class="js-lists-values-to text-50">17/02/2019</small>
                                    </td>
                                    <td class="text-right">
                                        <a href=""
                                           class="text-50"><i class="material-icons">more_vert</i></a>
                                    </td>
                                </tr>

                                <tr>

                                    <td class="pr-0">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                   class="custom-control-input js-check-selected-row"
                                                   id="customCheck1_4">
                                            <label class="custom-control-label"
                                                   for="customCheck1_4"><span class="text-hide">Check</span></label>
                                        </div>
                                    </td>

                                    <td>

                                        <div class="media flex-nowrap align-items-center"
                                             style="white-space: nowrap;">
                                            <div class="avatar avatar-32pt mr-8pt">

                                                <img src="assets/images/people/110/guy-2.jpg"
                                                     alt="Avatar"
                                                     class="avatar-img rounded-circle">

                                            </div>
                                            <div class="media-body">

                                                <div class="d-flex align-items-center">
                                                    <div class="flex d-flex flex-column">
                                                        <p class="mb-0"><strong class="js-lists-values-name">Ollie Wallace</strong></p>
                                                        <small class="js-lists-values-email text-50">lorna_kirlin@nora.biz</small>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="d-flex flex-column">
                                            <small class="js-lists-values-status text-50 mb-4pt">Confirm</small>
                                            <span class="indicator-line rounded bg-primary"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <small class="js-lists-values-policy text-50">Deluxe Double</small>
                                    </td>
                                    <td>
                                        <small class="js-lists-values-reason text-50">&mdash;</small>
                                    </td>
                                    <td>
                                        <small class="js-lists-values-days text-50">15 days</small>
                                    </td>
                                    <td>
                                        <small class="js-lists-values-available text-50">$ 143.22</small>
                                    </td>
                                    <td>
                                        <small class="js-lists-values-from text-50">16/02/2019</small>
                                    </td>
                                    <td>
                                        <small class="js-lists-values-to text-50">16/02/2019</small>
                                    </td>
                                    <td class="text-right">
                                        <a href=""
                                           class="text-50"><i class="material-icons">more_vert</i></a>
                                    </td>
                                </tr>

                                <tr class="selected">

                                    <td class="pr-0">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                   class="custom-control-input js-check-selected-row"
                                                   checked=""
                                                   id="customCheck1_5">
                                            <label class="custom-control-label"
                                                   for="customCheck1_5"><span class="text-hide">Check</span></label>
                                        </div>
                                    </td>

                                    <td>

                                        <div class="media flex-nowrap align-items-center"
                                             style="white-space: nowrap;">
                                            <div class="avatar avatar-32pt mr-8pt">

                                                <img src="assets/images/people/110/guy-3.jpg"
                                                     alt="Avatar"
                                                     class="avatar-img rounded-circle">

                                            </div>
                                            <div class="media-body">

                                                <div class="d-flex align-items-center">
                                                    <div class="flex d-flex flex-column">
                                                        <p class="mb-0"><strong class="js-lists-values-name">Ricardo Bell</strong></p>
                                                        <small class="js-lists-values-email text-50">smith_winfield@douglas.io</small>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="d-flex flex-column">
                                            <small class="js-lists-values-status text-50 mb-4pt">Rejected</small>
                                            <span class="indicator-line rounded bg-danger"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <small class="js-lists-values-policy text-50">Deluxe Double</small>
                                    </td>
                                    <td>
                                        <small class="js-lists-values-reason text-50">&mdash;</small>
                                    </td>
                                    <td>
                                        <small class="js-lists-values-days text-50">15 days</small>
                                    </td>
                                    <td>
                                        <small class="js-lists-values-available text-50">$ 143.22</small>
                                    </td>
                                    <td>
                                        <small class="js-lists-values-from text-50">01/12/2018</small>
                                    </td>
                                    <td>
                                        <small class="js-lists-values-to text-50">01/12/2018</small>
                                    </td>
                                    <td class="text-right">
                                        <a href=""
                                           class="text-50"><i class="material-icons">more_vert</i></a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="card-footer p-8pt">

                        <ul class="pagination justify-content-start pagination-xsm m-0">
                            <li class="page-item disabled">
                                <a class="page-link"
                                   href="#"
                                   aria-label="Previous">
                                    <span aria-hidden="true"
                                          class="material-icons">chevron_left</span>
                                    <span>Prev</span>
                                </a>
                            </li>
                            <li class="page-item dropdown">
                                <a class="page-link dropdown-toggle"
                                   data-toggle="dropdown"
                                   href="#"
                                   aria-label="Page">
                                    <span>1</span>
                                </a>
                                <div class="dropdown-menu">
                                    <a href=""
                                       class="dropdown-item active">1</a>
                                    <a href=""
                                       class="dropdown-item">2</a>
                                    <a href=""
                                       class="dropdown-item">3</a>
                                    <a href=""
                                       class="dropdown-item">4</a>
                                    <a href=""
                                       class="dropdown-item">5</a>
                                </div>
                            </li>
                            <li class="page-item">
                                <a class="page-link"
                                   href="#"
                                   aria-label="Next">
                                    <span>Next</span>
                                    <span aria-hidden="true"
                                          class="material-icons">chevron_right</span>
                                </a>
                            </li>
                        </ul>

                    </div>
                    <!-- <div class="card-body bordet-top text-right">
15 <span class="text-50">of 1,430</span> <a href="#" class="text-50"><i class="material-icons ml-1">arrow_forward</i></a>
</div> -->

                </div>

            </div>    


{% endblock %}

            